// import bootstrap
@import "less/bootstrap.less";


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */

h1, h2, h3, h4 {
    text-transform:  uppercase;
}
.caption {
    font-size:  0.8em;
    color: #999;
    min-height: 4em;
}
.header {
    background: url(../images/stripe-header.png) @brand-primary;
}

.mainheader {
    background: url(../images/header.jpg) no-repeat center; 
    background-size: cover; 
    min-height: 60vh;
}
.thumb {
    width: 100px;
    margin:0.5em 1em;
    margin-left: 0;
}
section {
    padding: 40px 0;
}
.main {
    padding-bottom:  20px;
    background: url(../images/bg.jpg) no-repeat center bottom;
    background-size: 100%;
}
.infos-pratiques {
    background:  url(../images/stripe-footer.png) #eee;
    .container {
        background: url(../images/bg-footer.png) no-repeat top left;
    }
}
#footer {
    background:  #ccc;
    padding: 30px 0;
}

.wrapper {
    background: #fff;
}

.snap-drawer {
    background-image: linear-gradient(to bottom, #4075af 0%,#2b4775 100%);
}

.navside img {
    max-height:  30px;
}

p > img.pull-left {
    margin-right: 0.5em;
}

p {
    .clearfix();
}

