@img-path: "../images/";
@brand-primary: #21274d;

@navbar-height: 80px;
@navbar-border-radius : 0px;
@navbar-margin-bottom : 0px;

@text-color: @brand-primary;
@thumbnail-border: #000;
@thumbnail-border-radius: 15%;

@border-radius-base: 0px;

@btn-color:#fff;
@border-btn: #fff;

//** Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint:     @screen-md-min;