<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1><span>contacts</span></h1>
			<p><strong>PNRGM</strong></p>
			<address>Parc Naturel Régional du Golfe du Morbihan<br>8, boulevard des îles<br>56000 VANNES</address>
			<p><a href="http://www.golfe-morbihan.fr">www.golfe-morbihan.fr</a></p>
			<p><span class="glyphicon glyphicon-phone"></span> 02 97 62 03 03</p>
			<hr>

			<div>

			<!-- SHOW ERROR/SUCCESS MESSAGES -->
			<div ng-show="message" class="alert alert-info">{{message}}</div>
			  
			  <form name="contactForm" ng-submit="submitForm(contactForm.$valid);" novalidate>
			  	
			  	<!-- nom -->
			    <div class="form-group" ng-class="{ 'has-error' : contactForm.name.$invalid && submitted }">
			      <label for="name">Votre nom :</label>
			      <input type="text" name="name" id="name" data-ng-model="formData.name" class="form-control" required />
			      <p class="help-block" data-ng-show="contactForm.name.$invalid && submitted">Merci de renseigner ce champs !</p>
			    </div>
				
				<!-- email -->
			    <div class="form-group" ng-class="{ 'has-error' : contactForm.email.$invalid && submitted}">
			      <label for="email">Votre e-mail :</label>
			      <input type="email" name="email" id="email" data-ng-model="formData.email" class="form-control" required />
			      <p ng-show="contactForm.email.$invalid && submitted" class="help-block">Merci de renseigner un email valide !</p>
			    </div>
				
				<!-- message -->
			    <div class="form-group" ng-class="{ 'has-error' : contactForm.contenu.$invalid && submitted}">
			      <label for="contenu">Votre message :</label>
			      <textarea name="contenu" id="contenu" data-ng-model="formData.contenu" class="form-control" required></textarea>
			      <p ng-show="contactForm.contenu.$invalid && submitted" class="help-block">Merci de renseigner un message !</p>
			    </div>
				
				<!-- submit -->
			    <button type="submit" class="btn btn-primary"><span>Envoyer</span></button>
			  
			  </form>
			</div>			
		</div>
	</div>
</div>