<!-- zone infos pratiques -->
<section class="section infos-pratiques">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2><span class="glyphicon glyphicon-wrench"></span> Infos Pratiques</h2>
                <hr>
                <ul class="list-unstyled">
                    <li>
                        <h4>Info Pratique 1</h4>
                        <p>luctus libero lacinia luctus libero lacinia luctus libero lacinia</p>
                    </li>
                    <li>
                        <h4>Info Pratique 2</h4>
                        <p>luctus libero lacinia luctus libero lacinia luctus libero lacinia</p>
                    </li>
                    <li>
                        <h4>Info Pratique 3</h4>
                        <p>luctus libero lacinia luctus libero lacinia luctus libero lacinia</p>
                    </li>
                    <li>
                        <h4>Info Pratique 4</h4>
                        <p>luctus libero lacinia luctus libero lacinia luctus libero lacinia</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2><span class="glyphicon glyphicon-link"></span> Liens utiles</h2>
                <hr>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#">luctus libero lacinia</a></li>
                    <li><a href="#">luctus libero lacinia</a></li>
                    <li><a href="#">luctus libero lacinia</a></li>
                </ul>
                <a href="#" class="btn btn-primary btn-block btn-lg">Validations</a>
            </div>
            <div class="col-md-6">
                <img src="images/map.jpg" class="img-responsive" />
            </div>
        </div>
    </div>
</section>

<div id="footer">
    <div class="container">
        <p class="text-muted credit">SIAGM © 2014 / <a href="#/page/mentions-legales">Mentions Légales</a></p>
    </div>
</div>