<!-- zone infos pratiques -->
<aside class="section infos-pratiques">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2><img src="images/titre-liens.png" alt="{{liens.title}}"></h2>
                <hr>
                <ul class="list-unstyled">
                    <li ng-repeat="lien in liens.list | limitTo:5">
                        <h3 ng-bind-html="lien.title" class="h4"></h3>
                        <p><a href="http://{{lien.url}}">{{lien.url}}</a></p>
                    </li>
                </ul>
                <p class="text-right"><a href="#!/page/{{liens.id}}" class="btn btn-primary"><span>+ d'infos</span></a></p> 
            </div>
            <div class="col-md-3">
                <h2><img src="images/titre-partenariats.png" alt="{{partenariats.title}}"></h2>
                <hr>
                 <ul class="list-unstyled">
                    <li ng-repeat="partenariat in partenariats.list | limitTo:3">
                        <h3 ng-bind-html="partenariat.title" class="h4">{{partenariat.title}}</h3>
                        <p><a href="http://{{partenariat.url}}">{{partenariat.url}}</a></p>
                    </li>
                </ul>
                <p class="text-right"><a href="#!/page/{{partenariats.id}}" class="btn btn-primary"><span>+ d'infos</span></a></p>
            </div>
            <div class="col-md-6">
                <p><img src="images/map.jpg" class="img-responsive" /></p>
                <p class="text-right"><a href="2014_Carte_GuideBonnePratique2014.pdf" target="_self" class="btn btn-primary"><span>Télécharger la carte</span></a></p>
            </div>
        </div>
    </div>
</aside>

<div id="footer">
    <div class="container" nav-menu="disabled">
        <p class="text-muted credit">SIAGM © 2014 / <a href="#!/contact" class="btn btn-link">nous contacter</a> / <a href="#!/page/mentions-legales"  class="btn btn-link">Mentions Légales</a> / <a href="sitemap.xml" class="btn btn-link">plan du site</a></p>
    </div>
</div>