<header class="mainheader">

    <div class="sr-only">      
        <h1>Cap sur la petite mer</h1>
        <hr>
        <h2>Golfe du Morbihan : Les bonnes pratiques</h2>
    </div>
    
    <div class="container hidden-md hidden-lg">
        <p class="h2"><img src="images/header-mobile.jpg" class="img-responsive img-rounded"></p>
    </div>

</header>

<!-- zone accès directs -->
<section id="accesdirects" class="section">
    <div class="container">

        <div class="page-header">
            <h1><span>Les activités</span></h1>
        </div>

        <div class="row text-center">
            <div ng-repeat="activite in activites" class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a href="#!/activite/{{activite.id}}" class="thumbnail"><img src="images/thumbs/{{activite.id}}.jpg" class="img-responsive"  /></a><p class="thumb-caption">{{activite.title}}</p></div>
        </div>

    </div>
</section>
