<!-- Fixed navbar -->
<nav class="navbar header" nav-menu="active">
    <div class="container">
        
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/"><img src="images/logo.jpg" alt="Cap sur la petite mer"></a>
            <button snap-toggle class="btn btn-primary navbar-btn"><span>les activités</span></button>
        </div>
       
        <div class="collapse navbar-collapse">
            
            <ul class="nav navbar-nav navbar-right" >
                <li><a href="#/page/a-propos">À propos</a></li>
                <li><a href="#/page/preservation-golfe">Préservation du Golfe</a></li>
                <li><a href="#/page/consignes-securite">Consignes de sécurité</a></li>
                <li><a href="#/contact">Contacts</a></li>
            </ul>

        </div><!--/.nav-collapse -->

    </div>
</nav>